@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #A0D7FF;
    min-width: 375px;
}

.container {
    border-radius: 39px;
    display: flex;
    width: fit-content;
    padding: 2%;
    display: block;
    margin: auto;
    background-color: black;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 30%;
    margin-right: 2rem;
}

#input_field {
    margin: 0;
    color: #818181;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

#answer {
    margin: 0;
    font-weight: medium;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 48px;

}

div {
    display: flex;
    flex-wrap: wrap;
}



button {
    font-family: "Poppins", sans-serif;
    background-color: #303136;
    border: none;
    color: #29A8FF;
    font-weight: medium;
    cursor: pointer;
    width: 62px;
    height: 60px;
    padding: 6px 4px;
    border-radius: 16px;
    font-size: 32px;
    margin: 10px;
}

#btn_Ac {
    background-color: #616161;
    color: #A5A5A5;
    height: 62px;
    font-size: 24px;
    font-weight: normal;
}

#btn_x {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #616161;
    height: 62px;
    font-size: 24px;
}

#btn_d,
#btn_m {
    background-color: #005DB2;
    color: #339DFF;
    font-weight: bolder;
    height: 62px;
    font-size: 24px;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #A0D7FF;
}

.container {
    border-radius: 39px;
    display: flex;
    width: fit-content;
    padding: 2%;
    display: block;
    margin: auto;
    background-color: black;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 30%;
    margin-right: 2rem;
}

#input_field {
    margin: 0;
    color: #818181;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

#answer {
    margin: 0;
    font-weight: medium;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 48px;

}

div {
    display: flex;
}



button {
    font-family: "Poppins", sans-serif;
    background-color: #303136;
    border: none;
    color: #29A8FF;
    font-weight: medium;
    cursor: pointer;
    width: 62px;
    height: 60px;
    padding: 6px 4px;
    border-radius: 16px;
    font-size: 32px;
    margin: 10px;
}

#btn_Ac {
    background-color: #616161;
    color: #A5A5A5;
    height: 62px;
    font-size: 24px;
    font-weight: normal;
}

#btn_x {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #616161;
    height: 62px;
    font-size: 24px;
}

#btn_d,
#btn_m {
    background-color: #005DB2;
    color: #339DFF;
    font-weight: bolder;
    height: 62px;
    font-size: 24px;
    font-weight: normal;
}



#btn_3 {
    width: 143px;
}

#btn_0 {
    width: 143px;
}